# 1. 데이터 불러오기

In [7]:
import pandas as pd

data_finance = pd.read_csv('./data/재무데이터.csv')
data_active = pd.read_csv('./data/액티브 중소법인 재무보유.csv')
data_stop = pd.read_csv('./data/휴폐업 중소법인 재무보유.csv')

In [8]:
data_finance.columns

Index(['Unnamed: 0', '사업자번호', '결산년월', '유동자산', '매출채권', '비유동자산', '유형자산', '자산총계',
       '유동부채', '비유동부채', '부  채  총  계', '자본금', '이익잉여금(결손금）', '자본총계', '매출액',
       '판매비와관리비', '영업이익（손실）', '법인세비용차감전순손익', '법인세비용', '당기순이익(손실)', '기업순이익률(%)',
       '유보액/총자산(%)', '유보액/납입자본(%)', '매출액총이익률(%)', '매출액영업이익률(%)', '매출액순이익률(%)',
       '수지비율(%)', '경상수지비율', '영업비율(%)', '금융비용대매출액비율(%', '금융비용대부채비율(%)',
       '금융비용대총비용비율(%', '부채비율(%)', '차입금의존도(%)', '자기자본비율(%)', '순운전자본비율(%)',
       '유동부채비율(%)', '비유동부채비율(%)', '부채총계대 매출액(%)', '총자본회전율(회)', '재고자산회전율(회)',
       '매출채권회전율(회)', '매입채무회전율(회)', '미수금', '매출원가', '무형자산', '재고자산'],
      dtype='object')

In [9]:
data_active.columns

Index(['Unnamed: 0', '사업자등록번호', '기업접두명', '기업명', '기업접미명', '기업영문명', '업종', '기업규모',
       '공기업구분', '개인법인구분', '본점지점구분', '국외투자법인여부', '벤처기업여부', '상장코드', '산업코드차수',
       '산업코드1', '산업코드2', 'IND_CD3', '공공기관유형', '중견기업보호여부', '본점기업코드', '설립일자',
       '설립구분', '상장일자', '주요사업내용', '국가명', '홈페이지URL', '대표자명', '직원수'],
      dtype='object')

In [11]:
data_stop.columns

Index(['Unnamed: 0', '사업자등록번호', '기업접두명', '기업명', '기업접미명', '기업영문명', '업종', '기업규모',
       '공기업구분', '개인법인구분', '본점지점구분', '국외투자법인여부', '벤처기업여부', '상장코드', '산업코드차수',
       '산업코드1', '산업코드2', 'IND_CD3', '공공기관유형', '중견기업보호여부', '본점기업코드', '설립일자',
       '설립구분', '상장일자', '주요사업내용', '국가명', '홈페이지URL', '대표자명', '직원수'],
      dtype='object')

In [13]:
data_active.head()

,Unnamed: 0,사업자등록번호,기업접두명,기업명,기업접미명,기업영문명,업종,기업규모,공기업구분,개인법인구분,...,중견기업보호여부,본점기업코드,설립일자,설립구분,상장일자,주요사업내용,국가명,홈페이지URL,대표자명,직원수
0,0,1138111739,NaN,한일가스산업,(주),"HANIL GAS IND. CO.,LTD.",M,2,2,1,...,N,NaN,19660419.0,1,NaN,LP Gas 충전 및 판매업,NaN,www.hanilgas.com,홍순철외 1명,43.0
1,1,2078132193,(주),엠피아이,NaN,"EMPIALEE CO.,LTD.",M,2,2,1,...,N,NaN,19910806.0,1,NaN,가죽 및 대용가죽제품 제조업,NaN,www.mastercnd.co.kr,이스테판상수외 1명,35.0
2,2,1318167565,NaN,도영운수,(주),"DOYOUNG TRANSPORTATION CO.,LTD.",M,2,2,1,...,N,NaN,20011030.0,1,NaN,시내버스업,NaN,transport@naver.com,김명화,149.0
3,3,5048128251,(주),중원산업,NaN,"JOONGWON INDUSTRIAL CO.,LTD.",M,2,2,1,...,N,NaN,19990112.0,1,NaN,자동차 부품 제조,NaN,www.koreajw.com,김명구,75.0
4,4,1098164260,(주),카타나골프,NaN,"CATANA GOLF CO.,LTD.",M,2,2,1,...,N,NaN,20000531.0,1,NaN,골프용품 전반의 제조 및 수출업,NaN,NaN,김홍득,3.0